html {
  font-size: 100%;
  line-height: 1.5;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  display: block;
  width: auto;
  text-rendering: optimizeLegibility;

  body {
    background-color: #fff;
    color: #555;
    margin: 0;
    display: block;
  }

  nav {
    display: block;
  }
}

*,
:after,
:before {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

@import "_variables";
@import "_grid";

@import "layouts/_nav";
@import "layouts/_home";
